faster-whisper==1.0.2
librosa==0.10.2.post1
opus-fast-mosestokenizer==0.0.8.5
# scikit-learn==1.4.2
# scipy==1.13.0
soundfile==0.12.1
tokenizers==0.19.1
# transformers==4.41.0
# nvidia-cuda-runtime-cu12==12.1.105
ctranslate2==4.3.0
# torch==2.3.0
nvidia-cublas-cu12==12.4.5.8
nvidia-cudnn-cu12